{{/*
description: "CSV file with one line per workflow"
*/}}Repo,Name,Image,Link
{{- range .Repos -}}
    {{- $repo := .Repo.Name -}}
    {{- range .Workflows }}
{{ $repo}}, {{.Name}}, {{ .BadgeURL }}, {{ .HTMLURL }}
    {{- end -}}
    {{- range .ExternalBadges }}
{{ $repo}}, {{.Name}}, {{ .Image }}, {{ .Link }}
    {{- end -}}
{{ end }}
