{{/*
description: "Standalone markdown page"
*/}}# {{ .Title }}

{{ .Header }}

| Repo | Action |
| ---- | ------ |
{{ range .Repos -}}
| [{{.Repo.FullName}}]({{.Repo.HTMLURL}}{{$repo := .Repo}}) |{{range .ExternalBadges}} [![{{.Name}}]({{.Image}})]({{.Link}}){{end}}{{ range .Workflows}} [![{{ .Name }}]({{ .BadgeURL }})](https://github.com/{{$repo.FullName}}/actions?query=workflow%3A{{ urlquery .Name }}%20branch%3Amain){{end}}
{{ end }}
Repos: {{len .Repos}}

{{ .Footer }}
